@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#f4f7fb;
}

.login-box{
  width:calc(100% - 32px);
  max-width:350px;
  padding:35px;
  border-radius:20px;
  background:white;
  border:1px solid rgba(255,255,255,0.1);
  box-shadow:0 10px 30px rgba(0,0,0,0.3);
  color:#2563eb;
}

.login-box h1{
  text-align:center;
  margin-bottom:8px;
  font-size:32px;
  font-family:'Poppins',sans-serif;
}

.login-box p{
  text-align:center;
  margin-bottom:30px;
  color:#444444;
  font-size:17px;
}

.input-group{
  margin-bottom:20px;
}

.input-group label{
  display:block;
  margin-bottom:8px;
  font-size:15px;
  color:#2563eb;
}

.input-group input{
  width:100%;
  padding:14px;
  border:2px solid #2563eb;
  outline:none;
  border-radius:12px;
  background:rgba(255,255,255,0.1);
  color:black;
  font-size:15px;
  transition:0.3s;
}

.input-group input::placeholder{
  color:#94a3b8;
}

.input-group input:focus{
  background:rgba(255,255,255,0.15);
  border:1px solid #38bdf8;
}

.login-btn{
  width:100%;
  padding:10px;
  border:none;
  border-radius:12px;
  background:#2563eb;
  color:white;
  font-size:18px;
  font-weight:bold;
  cursor:pointer;
  transition:0.3s;
  font-family:'Poppins',sans-serif;
}

.login-btn:hover{
  background:#0ea5e9;
  transform:translateY(-2px);
}

.footer-text{
  text-align:center;
  margin-top:22px;
  font-size:15px;
  color:#444444;
}

.checkbox-group{
  display:flex;
  align-items:flex-start;
  gap:10px;
  margin-bottom:20px;
}

.checkbox-group input[type="checkbox"]{
  width:18px;
  height:18px;
  margin-top:2px;
  cursor:pointer;
  accent-color:#2563eb;
}

.checkbox-group label{
  font-size:13px;
  color:#444444;
  line-height:1.5;
  cursor:pointer;
}